@model IEnumerable<BanSachOnlineConnection.TheLoai>

<li>
    <a href="#"><i class="fa fa-sitemap fa-fw"></i>The Loai<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        @foreach (var item in Model)
        {
            <li>
                @Html.ActionLink(item.Ten, "Genre", new { id = item.recID })
            </li>
        }

    </ul>
    <!-- /.nav-second-level -->
</li>