@model IEnumerable<BanSachOnlineConnection.BinhLuan>
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<div class="well">
    <h4>Binh Luan</h4>
    <div class="form-group">
        @using (Html.BeginForm("Create", "Review", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("ID_Sach", Model.Sach.ID_Sach)
            @Html.TextArea("NoiDung", new { @class = "form-control", @rows = "3" })

            <div class="text-right">
                <input type="submit" class="btn btn-success" value="Dang binh luan" />
            </div>
        }
    </div>
    <hr>
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-md-12">
                @*<p>@item.NoiDung_BinhLuan</p>*@
            </div>
        </div>
        <hr>
    }
</div>
