@{Layout = null;}

@model IEnumerable<BanSachOnlineConnection.TacGium>

<li>
    <a href="#"><i class="fa fa-user fa-fw"></i>Tac Gia<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        @foreach (var item in Model)
        {
            <li>
                @Html.ActionLink(item.Ten_TacGia, "Author", "Product", new { id = item.ID_TacGia }, null)
            </li>
        }
    </ul>
</li>
